{% extends 'base.html' %}
{% load static %}


{% block title %}Главная - Бюджет контроллер{% endblock %}

{% block content %}
<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCategoryModalLabel">Добавление новой категории</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="addCategoryForm" method="post" action="{% url 'add_category_id' %}">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label for="categoryName">Название категории:</label>
            <input type="text" class="form-control" id="categoryName" name="categoryName" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary" id="addCategoryModalId">Добавить категорию</button>
        </div>
      </form>
    </div>
  </div>
</div>




<div class="modal fade" id="editCategoryModal" tabindex="-1" aria-labelledby="editCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCategoryModalLabel">Изменения категории</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="editCategoryForm" action="#" method="post">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label for="editCategory">Категория</label>
            <select class="form-control" id="editCategory" name="category">
              <option value="">Выберите категорию</option>
              <!-- Добавьте другие категории по мере необходимости -->
            </select>
            <p id="categoryMessage" style="color: red; display: none;"></p>
          </div>
          <div class="fFrm-group">
            <label for="editcategoryName">Название категории:</label>
            <input type="text" class="form-control" id="editcategoryName" name="editcategoryName" required>
            <div id="editCategoryError" class="text-danger" style="display:none;">Название категории не должно быть пустым.</div>
          </div>
          <div id="deleteCategoryMessage" class="alert" style="display:none;"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary" id="editCategoryModalId">Сохранить</button>
        </div>
      </form>
    </div>
  </div>
</div>








<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Бюджет контроллер</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Главная</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" data-bs-toggle="modal" 
            data-bs-target="#addTransactionModal">Добавить</a>
          </li>
        </ul>
        <ul class="navbar-nav mb-2 mb-md-0">
          <li class="nav-item dropdown">
            <a id="category" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Категории
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="modal-body">
                <!-- Форма для добавления категории -->
                <table>
                    <tbody id="categoryId">
                        {% for category in categories %}
                        {% with forloop.counter as index %}
                        <tr>
                            <td>
                                <a href="filter_by_category?id={{ category.id }}" class="category-link">{{ index }}.  {{ category.name }}</a>
                            </td>
                        </tr>
                        {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
              </div>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#addCategoryModal">Добавить категорию</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteCategoryModal">Удалить категорию</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editCategoryModal">Изменить категорию</a></li>
            </ul>
          </li>
          <form class="d-flex ms-2" action='{% url "search_description" %}' method="GET">
            <input class="form-control me-2" type="search" name="q" placeholder="Поиск..." aria-label="Search" pattern=".{2,}" title="Введите как минимум два символа" required>
            <button class="btn btn-outline-success" type="submit">Поиск</button>
        </form>        
          <div class="d-flex align-items-center ms-3">
            <img src="{% static 'images/profile.png' %}" data-bs-toggle="modal" data-bs-target="#aboutModal" alt="Profile" class="profile-icon dropdown-toggle" id="user" style="cursor: pointer;">
          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>




<div class="modal fade" id="deleteCategoryModal" tabindex="-1" aria-labelledby="deleteCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteCategoryModalLabel">Удаление категории</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="deleteCategoryForm" method="post" onsubmit="handleDeleteCategory(event)">
        {% csrf_token %}
        <div class="modal-body">
          <div class="form-group">
            <label for="deleteTransactionCategory">Категория</label>
            <select class="form-control" id="deleteTransactionCategory" name="category">
                <option value="">Выберите категорию</option>
                <!-- Добавьте другие категории по мере необходимости -->
            </select>
          </div>
          <div id="deleteCategoryMessage" class="alert" style="display:none;"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
          <button type="submit" class="btn btn-primary" id="deleteCategoryModalId">Удалить категорию</button>
        </div>
      </form>
    </div>
  </div>
</div>




<!-- Модальное окно подтверждения удаления категории -->
<div class="modal fade" id="confirmDeleteModal-{{ category.id }}" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteModalLabel-{{ category.id }}" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmDeleteModalLabel-{{ category.id }}">Подтвердите удаление</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Вы уверены, что хотите удалить эту категорию?</p>
        <form method="post" action="#">
          {% csrf_token %}
          <input type="hidden" name="category_id" value="{{ category.id }}">
          <button type="submit" class="btn btn-danger">Удалить категорию</button>
        </form>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aboutModalLabel">О Себе</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body aboutuser">
        <div class="aboutuser">
          <h5 class="modal-title">Имя: {{ user_name }}</h5>
          <h5 class="modal-title">Логин: {{ phone_number }}</h5>
          <h5><hr class="dropdown-divider"></h5>
          <button id="logout_user" class="btn btn-danger" onclick="logoutUser()">Выход</button> <!-- Изменил id на logout_user -->
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="modal fade" id="addTransactionModal" tabindex="-1" role="dialog" aria-labelledby="addTransactionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTransactionModalLabel">Добавить</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="addTransactionForm">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="transactionType">Тип</label>
                        <select class="form-control" id="transactionType" name="type" required>
                            <option value="">Выбрать</option>
                            <option value="0">Расход</option>
                            <option value="1">Доход</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="transactionAmount">Сумма</label>
                        <input type="text" class="form-control" id="transactionAmount" name="amount" required>
                    </div>
                    <div class="form-group">
                        <label for="transactionCategory">Категория</label>
                        <select class="form-control" id="transactionCategory" name="category">
                            <option value="">Выберите категорию</option>
                            <!-- Добавьте другие категории по мере необходимости -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="transactionDescription">Описание</label>
                        <textarea class="form-control" id="transactionDescription" name="description" rows="3"></textarea>
                    </div>
                    <button id="saveTransactionBtn" type="submit" class="btn btn-primary">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>






<!-- Begin page content -->
<div class="content" style="padding-top: 70px;">
  <div class="container">
    <div class="dropdown">
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
        <a class="dropdown-item" href="#">Profile</a>
      </div>
    </div>
  </div>
  <div class="container">
    <h2 class="mb-5">История</h2>
    <div class="mb-3">
      <button id="refreshHistoryBtn" class="btn btn-primary" title="Обновить историю">
        <i class="fas fa-sync"></i> Обновить историю
      </button>
      <div class="balance">
        <i style="margin-left: 900px;">Баланс: </i>{{ balance }}
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-striped custom-table">
        <thead>
          <tr>
            <th scope="col">№</th>
            <th scope="col">
              <a href="{% url 'sorted_by_amount' %}">Сумма <i class="bi bi-caret-up-fill"></i><i class="bi bi-caret-down-fill"></i></a></th>

            <th scope="col">
              <a href="{% url 'sorted_by_type' %}">Тип <i class="bi bi-caret-up-fill"></i><i class="bi bi-caret-down-fill"></i></a></th>

            <th scope="col">
              <a href="{% url 'sorted_by_category' %}">Категория <i class="bi bi-caret-up-fill"></i><i class="bi bi-caret-down-fill"></i></a></th>

            <th scope="col">
              <a href="{% url 'sorted_by_date' %}">Дата <i class="bi bi-caret-up-fill"></i><i class="bi bi-caret-down-fill"></i></a></th>

            <th scope="col">
              <a href="{% url 'sorted_by_description' %}">Описание <i class="bi bi-caret-up-fill"></i><i class="bi bi-caret-down-fill"></i></a></th>

            <th scope="col">Действия</th>
          </tr>
        </thead>
        <tbody id="historyContainer">
          {% for transaction in history %}
          {% with forloop.counter as index %}
          <tr>
            <td>{{ index }}</td>
            <td>{{ transaction.amount }}</td>
            <td>
              {% if transaction.type == 1 %}
                Доход
              {% else %}
                Расход
              {% endif %}
            </td>
            <td>{{ transaction.category.name }}</td>
            <td>{{ transaction.date|date:"d.m.Y, H:i" }}</td>
            <td>{{ transaction.description }}</td>
            <td>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editTransactionModal"
                onclick="loadTransactionData('{{ transaction.id }}', '{{ transaction.amount }}', '{{ transaction.typ }}', '{{ transaction.category.id }}', '{{ transaction.description|escapejs }}')">
              Изменить
              </button>
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal" onclick="setTransactionId('{{ transaction.id }}'); loadAmountData('{{ transaction.amount }}')">Удалить</button>
            </td>
          </tr>
          {% endwith %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Confirm Delete Modal -->
<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="confirmDeleteModalLabel">Подтверждение удаления транзакции на сумму: <span id="transactionAmountDisplay"></span></h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Вы уверены, что хотите удалить транзакцию?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button id="deleteTransactionBtn" type="button" class="btn btn-danger">Удалить</button>
      </div>
    </div>
  </div>
</div>





<div class="modal fade" id="editTransactionModal" tabindex="-1" role="dialog" aria-labelledby="editTransactionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="editTransactionModalLabel">Изменить транзакцию</h5>
                <h5 class="modal-title"  style="margin-left: 5px;">на сумму: <span id="transactionAmountDisplayValue"></span></h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
              <form id="editTransactionForm" action="{% url 'edit_transaction' %}" method="post">
                  {% csrf_token %}
                  <input type="hidden" id="editTransactionId" name="id">
                  <div class="form-group">
                      <label for="editTransactionType">Тип</label>
                      <select class="form-control" id="editTransactionType" name="type" required>
                          <option value="">Выбрать</option>
                          <option value="0">Расход</option>
                          <option value="1">Доход</option>
                      </select>
                  </div>
                  <div class="form-group">
                      <label for="editTransactionAmount">Сумма</label>
                      <input type="text" class="form-control" id="editTransactionAmount" name="amount" required>
                      <div id="amountError" class="form-text text-danger" style="display: none;">Введите правильное значение суммы.</div>
                  </div>
                  <div class="form-group">
                      <label for="editTransactionCategory">Категория</label>
                      <select class="form-control" id="editTransactionCategory" name="category">
                          <option value="">Выберите категорию</option>
                          <!-- Добавьте другие категории по мере необходимости -->
                      </select>
                  </div>
                  <div class="form-group">
                      <label for="editTransactionDescription">Описание</label>
                      <textarea class="form-control" id="editTransactionDescription" name="description" rows="3">{{ transaction.description }}</textarea>
                  </div>
                  <button id="editTransactionSaveBtn" type="submit" class="btn btn-primary">Сохранить</button>
              </form>
          </div>
      </div>
  </div>
</div>


{% endblock %}