{% extends 'base.html' %}
{% load static %}

{% block title %}Логин{% endblock %}
{% block content %}

{% block additional_styles %}
<link rel="stylesheet" href="{% static 'css/login_style.css' %}">
{% endblock %}

</style>
<h2>Логин</h2>
<form id="loginForm" method="post" action="">
    {% csrf_token %}
    <p>Номер телефона: <br>
        <input type="text" id="phone_number" name="phone_number">
        <span class="error-message" id="phone_number_error" style="color: red; font-weight: bold; font-size: 14px" ></span>
    </p>
    <p>Пароль: <br>
        <input type="password" id="password" name="password">
        <span class="error-message" id="password_error" style="color: red; font-weight: bold; font-size: 14px" ></span>
    </p>
    <div class="form-actions">
        <input id="SendLoginId" type="submit" value="Отправить" onclick="saveToastState('Вы успешно вошли в аккаунт!', 'success')">
        <p style="font-size: 18px;">Зарегистрироваться <a href="{% url 'sign_up' %}" class="signup-link">Регистрация</a></p>
    </div>
</form>

<div id="toastContainer"></div>

{% block additional_scripts %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% endblock %}
