.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .category-link {
    color: #007bff; /* Цвет текста ссылки (синий) */
    text-decoration: none; /* Убираем подчеркивание ссылки */
    transition: color 0.3s ease; /* Плавное изменение цвета текста */
}

.category-link:hover {
    color: #0056b3; /* Цвет текста при наведении (более темный синий) */
}


.category-link {
  color: #212529; /* Цвет текста ссылки (синий) */
  text-decoration: none; /* Убираем подчеркивание ссылки */
  transition: color 0.3s ease; /* Плавное изменение цвета текста */
}

.category-link:hover {
  color: #212530; /* Цвет текста при наведении (более темный синий) */
}

.profile-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000; /* обеспечивает, что элемент будет сверху других */
}
.profile-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
img.ribbon {
width: 50%; /* Адаптируем размер изображения для мобильных устройств */
height: auto;
}
}


.toast {
  position: absolute;
  top: 30px;
  right: 20px;
  min-width: 150px; /* Ширина уведомления */
  margin-bottom: 1rem; /* Отступ между уведомлениями */
  border-radius: .25rem; /* Закругляем углы */
}
.form-text.text-danger {
  color: red;
}